@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #141111;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #000000;
}

.header {
    background-color: #1a1a1a;
    padding: 10px 0;
}

.mains{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), #000000), url(../img/bg.png);
    background-size: cover;
    background-position: center;    
}

.logo img {
    height: 50px;
    margin-top: 100px; 
    margin-left: 450px;
}
.navigate {
    display: flex;
    gap: 40px;
    margin-left: 950px;
    margin-top: -30px;
}
.navigate a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}
.navigate a:hover {
    text-decoration: underline;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
    color: #fff;
    margin-top: -155px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 25px;
}

.information h1,
.information h2,
.information h3 {
    margin: 0;
    padding: 10px 0;
}

.information h2{
    font-size: 28px;
}

.information h3{
    font-size: 23px;
}

.infa {
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    margin-top: 15px;
}

.infa:hover {
    background-color: #ffffff; 
    color: #000000;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.about{
    position: absolute;
    color: #fff;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.about .images img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 10px; 
    background: linear-gradient(135deg, rgba(255, 200, 255, 0.6), rgba(150, 200, 255, 0.6));
    filter: blur(20px); 
}
.about .n1{
    width: 250px;
    margin-top: 20px;
    position: absolute;
    margin-left: 150px;
    
}

.about .n2{
    width: 350px;
    
    margin-left: 470px;
    position: absolute;
}

.about .n3{
    width: 250px;
    margin-top: 225px;
    margin-left: 450px;
    position: absolute;
}

.about .n4{
    width: 220px;
    margin-top: 425px;
    margin-left: 190px;
    position: absolute;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    filter: blur(20px);
    z-index: 0;
}

.n1-bg {
    background: linear-gradient(135deg, rgba(255, 200, 255, 0.6), rgba(150, 200, 255, 0.6));
    width: 250px;
    height: 250px;
    top: 20px;
    left: 150px;
}

.n2-bg {
    background: linear-gradient(135deg, rgba(200, 255, 200, 0.6), rgba(100, 200, 255, 0.6));
    width: 370px;
    height: 220px;
    top: -10px;
    left: 460px;
    
}

.n3-bg {
    background: linear-gradient(135deg, rgba(255, 255, 200, 0.6), rgba(255, 150, 200, 0.6));
    width: 250px;
    height: 250px;
    top: 275px;
    left: 450px;
}

.n4-bg {
    background: linear-gradient(135deg, rgba(255, 200, 150, 0.6), rgba(255, 100, 150, 0.6));
    width: 220px;
    height: 220px;
    top: 425px;
    left: 190px;
}

.aboutwe{
    margin-left: 1200px;
    margin-top: 50px;
}

.aboutwe h2{
    align-items: center;
    text-align: center;
    margin-left: -220px;
    max-width: 550px;
    margin-top: 20px;
}


.line{
    border: none;         
    height: 2px;           
    background-color: #ffffff; 
    margin: 20px 0;        
    width: 80%;  
    margin-top: 55px;
    margin-left: -80px;
}

.aboutwe .yes{
    text-align: center;
    max-width: 500px;
    margin-left: -210px;
}

.est{
    color: #000000;
    position: absolute;
    margin-top: 1000px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.est h1{
    font-size: 45px;
    margin-top: -65px;
    margin-left: 100px;
}

.est h2{
    font-size: 28px;
    margin-top: 25px;
    margin-left: 50px;
    max-width: 450px;
    text-align: center;
}

.box1{
    background: #00ffaa;
    width: 550px;
    height: 300px;
    margin-top: -95px;
    position: absolute;
    z-index: -1;
}

.eda{
    color: #fff;
    font-size: 25px;
    max-width: 450px;
    margin-left: 650px;
    margin-top: -150px;
}

.eda img{
    width: 60px;
}

.eda h1{
    margin-top: -65px;
    position: absolute;
    font-size: 45px;
    margin-left: 65px;
    color: #00ffaa;
}

.ps{
    color: #fff;
    font-size: 25px;
    max-width: 450px;
    margin-left: 1250px;
    margin-top: -200px;
}

.ps img{
    width: 60px;
}

.ps h1{
    margin-top: -65px;
    position: absolute;
    font-size: 45px;
    margin-left: 65px;
    color: #00ffaa;
}

.kinosal{
    color: #fff;
    font-size: 25px;
    max-width: 450px;
    margin-left: 150px;
    margin-top: 100px;
}

.kinosal img{
    width: 60px;
}

.kinosal h1{
    margin-top: -65px;
    position: absolute;
    font-size: 45px;
    margin-left: 65px;
    color: #00ffaa;
}

.atmo{
    color: #fff;
    font-size: 25px;
    max-width: 450px;
    margin-left: 650px;
    margin-top: -163px;
}

.atmo img{
    width: 60px;
}

.atmo h1{
    margin-top: -65px;
    position: absolute;
    font-size: 45px;
    margin-left: 65px;
    color: #00ffaa;
}

.film{
    color: #fff;
    font-size: 25px;
    max-width: 450px;
    margin-left: 1250px;
    margin-top: -163px;
}

.film img{
    width: 60px;
}

.film h1{
    margin-top: -65px;
    position: absolute;
    font-size: 45px;
    margin-left: 65px;
    color: #00ffaa;
}

.zal{
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: white;
    position: absolute;
    margin-top: 1500px;
    font-size: 35px;
    margin-left: 885px;
}

.container{
    margin-top: 1500px;
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}


.card__article{
    position: relative;
    overflow: hidden;
}

.card__img{
    width: 328px;
    border-radius: 1.5rem;
}

.card__data{
    width: 280px;
    background-color: white; 
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    text-align: center;
}


.card__descriprion{
    display: block;
    font-size: 35px;
    margin-bottom: .25rem;
}

.card_title{
    font-size: 50px;
    margin-bottom: .75rem;
}


.card__button{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.card__button:hover{
    text-decoration: underline;
}

.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}


.card__article:hover{
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}



@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media  screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .card__data{
        width: 250px;
        padding: 1rem;
    }
}

@media  screen and (min-width: 768px) {
    .card__container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media  screen and (min-width: 1120px) {
    .container{
        height: 100vh;
    }

    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img{
        width: 348px;
    }

    .card__data{
        width: 316px;
        padding-inline: 2.5rem;
    }
}
footer{
    margin-top: 5550px;
    position: absolute;
    color: #fff;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}